spring.application.name=famtask

# DB
spring.datasource.url=jdbc:mysql://localhost:3306/famtaskdb?useSSL=false&serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=   # <--- que tu compañero complete

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=false

# JWT
jwt.secret=
jwt.expiration=3600000

# WhatsApp (.env required)
whatsapp.token=${WHATSAPP_TOKEN}
whatsapp.phone-id=${WHATSAPP_PHONE_ID}

# Google OAuth (.env required)
google.oauth.client-id=${GOOGLE_CLIENT_ID}
google.oauth.client-secret=${GOOGLE_CLIENT_SECRET}
google.oauth.redirect-uri=${GOOGLE_REDIRECT_URI}
